    .footer {
        background: var(--color-dark-grey);
        color: var(--color-light-grey);
        padding: 40px 0;

        &_cols {
            @screen lg {
                @apply flex justify-between gap-[120px]
            }
        }

        h5 {
            color: var(--color-white);
        }

        &_nav a,
        p {
            @apply block mb-5;
        }


    }