@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
  --max-width: 1280px;
  --padding: 0 115px;
  --border-radius: 25.8px;
  --font-space: 'Space Mono', monospace;
  --font-work: 'Work Sans', sans-serif;
  --color-dark: #3B3B3B;
  --color-dark-grey: #3B3B3B;
  --color-grey: #858584;
  --color-white: #ffffff;
  --color-action: #A259FF;
  --gradient-primary: linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.56%);
  --gradient-secondary: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: var(--color-white);
  background: var(--color-dark);
  font-family: var(--font-space);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding);
  margin: 0 auto;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 67px;
  line-height: 110%;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 110%;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 120%;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
}